body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 80px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #0047B3;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.container a {
    text-decoration: none;
    background: #0047B3;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.container a:hover {
    background: #00378a;
}


.footer {
    margin-top: 40px;
    padding: 15px 0;
    background: #f4f7fb;
    text-align: center;
    color: #555;
    font-size: 14px;
}

.nav-links a.active {
    background-color: #0047B3;
    color: white;
    box-shadow: 0 6px 15px rgba(0, 71, 179, 0.3);
    transform: translateY(-4px);
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 8%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-links a:hover {
    background-color: #eaf0ff;
    color: #0047B3;
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 71, 179, 0.2);
}


.nav-buttons a {
    margin-left: 10px;
}


.logo a {
    text-decoration: none;
    color: #0047B3 !important;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
}

/* .logo,
.logo a {
    color: #0047B3;
} */

