/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 8%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #0047B3;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links a:hover {
    color: #0047B3;
}

.nav-buttons a {
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 500;
}

.login-btn {
    border: 1px solid #0047B3;
    color: #0047B3;
}

.signup-btn {
    background-color: #0047B3;
    color: white;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    background-color: #f8faff;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    color: #0047B3;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
}

.hero-btn {
    background-color: #0047B3;
    color: white;
    padding: 12px 28px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.hero-btn:hover {
    background-color: #00378a;
}

/* Hero Image */
.hero-image img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-buttons {
        margin-top: 10px;
        width: 100%;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }
}

.photo{
    justify-content: center;
}

.photo-content img{
    width: 100%;
    height: 300px;
    border-radius: 20%;
    
}